@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


header{
    height: 75px;
    background-color: #2e3a46;
    
}

header img {
    height: 75px;
}


main{
    background-color: #1e2d3b;
    min-height: calc(100vh - 75px);
    padding: 50px;
}

.card{
    background-color: #2e3a46 !important;
    height: 400px;
}

